.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  max-width: 175px;
  position: relative;
}

.navbar ul {
  display: flex;
  position: relative;
}

.navbar ul li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar ul li a {
  display: inline-block;
  font-weight: 400;
}
