body {
  width: 50rem;
  color: #fff;
  margin: 0 auto;
  background-color: #14232a;
  font-family: Helvetica, sans-serif;
}

/** navbar **/

header h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #e7e7e7;
}

nav {
  border-bottom: 3px solid #2a9d8f;
  width: 100%;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: left;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
}

nav ul li a {
  padding: 0 20px;
}

nav ul li a.logo {
  padding: 0 9.375rem 0 0;
  font-size: 24px;
  font-weight: bold;
}

nav ul li a.brian:hover,
a.fredie:hover,
a.roger:hover,
a.john:hover {
  background-color: #2a9d8f;
  padding: 5px 20px;
  border-radius: 10px/50%;
}

nav ul li a.logo:hover {
  padding: 5px;
  border-radius: 10px/50%;
  padding: 0 9.375rem 0 0;
}

/** content **/
main {
  margin-top: 10px;
}

p {
  text-align: justify;
}

main section figure img {
  margin-left: -2.5rem;
  width: 50rem;
}

main section figure figcaption {
  text-align: center;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

main section article h2 {
  text-align: center;
  border-top: 2px solid #2a9d8f;
  border-bottom: 2px solid #2a9d8f;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1px;
}

.content {
  display: flex;
}

.wrapper-photo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.album-photo {
  display: flex;
}

.album-photo img {
  width: 250px;
}

/** footer **/

footer {
  text-align: center;
  background-color: #2a9d8f;
  padding: 8px 0 8px 0;
}
